<body>
<mat-toolbar>
    <span>Spells</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a routerLink="/splash"><img src="../../assets/48cb5349f515f6e59edc2a4de294f439.png"></a>
    </button>
  </mat-toolbar>
<div class="col" *ngFor="let spell of spellList">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{spell.title}}</mat-card-title>
          <mat-card-subtitle>{{spell.userId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{spell.id}}</p>
          <p>{{spell.body}}</p>
        </mat-card-content>
      </mat-card>
</div>
</body>