<body>
<mat-toolbar>
    <span>Monsters</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a routerLink="/splash"><img src="../../assets/48cb5349f515f6e59edc2a4de294f439.png"></a>
    </button>
  </mat-toolbar>
<div class="col" *ngFor="let monster of monList">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{monster.name}}</mat-card-title>
          <mat-card-subtitle>{{monster.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{monster.postId}}</p>
          <p>{{monster.body}}</p>
        </mat-card-content>
      </mat-card>
</div>
</body>
